<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazone</title>
    <link rel="icon" href="https://www.pngitem.com/pimgs/m/1-12775_amazon-logo-icon-png-icon-amazon-logo-png.png"
        type="image/gif">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/profile.css">
</head>

<body>
    <div class="container text-center">
        <div class="card text-center">
            <div class="card-header-set">
                <h3>Profile</h3>
            </div>
            <hr class="underline">
            <img class="card-img-top"
                src="https://www.maxpixel.net/static/photo/1x/User-People-Man-Business-Person-Avatar-Character-3637425.png"
                alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <label for="img">Edit profile</label>
                <input type="file" id="img" name="img" accept="image/*">
            </div>

        </div>
    </div>

</body>

</html>